h2{
  font-size: 2rem;
  margin: 3rem 0rem;
  color: #fe7502;
}

input{
  border-radius: 3rem;
  font-size: 1.1rem;
}

textarea{
  font-size: 1.1rem;
}

textarea{
  border-radius: 1rem;
}

button{
  border-radius: 3rem;
}

label{
  font-size: 1rem;
  font-weight: 500;
}